html
  head
    title='Storing Judgement'
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    // script(type='text/javascript').
      // window.onload = function() { setTimeout(function() { window.close(); }, 3000); };

  body
    div(class="alert alert-warning text-center")
      h1 Non-Relevant
      form(action="/judge/#{topid}/#{tweetid}/0/#{partid}",method="post")
        button#btnSubmit(type="submit", class="btn btn-lg btn-warning") Non-Relevant
    div(class="alert alert-success text-center")
      h1 Relevant
      form(action="/judge/#{topid}/#{tweetid}/1/#{partid}",method="post")
        button#btnSubmit(type="submit", class="btn btn-lg btn-success") Relevant
    div(class="alert alert-info text-center")
      h1 Redundant/Duplicate
      form(action="/judge/#{topid}/#{tweetid}/2/#{partid}",method="post")
        button#btnSubmit(type="submit", class="btn btn-lg btn-info") Redundant/Duplicate